.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.appBackground {
    background: radial-gradient(circle, rgb(157, 192, 139), rgb(86, 138, 91), rgb(53, 78, 45) );
    padding: 150px;
    min-height: 100vh;
  }
  :root {
  --sidebar-width: 280px;
}

/* Sidebar spacer for desktop */
.sidebar-spacer {
  margin-left: var(--sidebar-width);
  transition: margin 0.3s;
}

/* Main content alignment */
.main-content {
  margin-left: var(--sidebar-width);
  padding: 32px 32px 32px 32px; /* adjust as needed */
  min-height: 100vh;
  transition: margin 0.3s;
  color: #343a40;
  background: #f8f9fa;
}

/* Responsive: remove margin on mobile */
@media (max-width: 991px) {
  .sidebar-spacer,
  .main-content {
    margin-left: 0;
    padding: 16px 8px;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
